# IntelliJ and family
.idea

# Unknown, possibly Fleet
.cache

# Definitely fleet
.fleet

# Netbeans
.cproject
.project

# KDevelop
*.kdev4

# Eclipse
.settings

# Qt Creator
*.autosave
virtual-desktop-manager.*
.qt*


# Try and capture as many permutations of cmake build directories as possible
cmake-build*
build
Release
Debug

# VS Code does this for some reason
CMakeSettings.json

# Visual Studio build directories
.vs
.vscode
out

# MSVC debug database
*.pdb

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
